%p#notice= notice

%p
  %b Name:
  = @client.name
%p
  %b Phone number:
  = @client.phone_number

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
\|
= link_to 'Make Reservation', new_reservation_path(:client_id => @client.id)