%h1 Listing reservations

%table.table
  %thead
    %tr
      %th Time in
      %th Time out
      %th Client
      %th Car #
      %th
      %th
      %th

  %tbody
    - @reservations.each do |reservation| 
      %tr
        %td= reservation.time_in
        %td= reservation.time_out
        %td= reservation.client&.name
        %td= reservation.car&.license_plate
        %td= link_to 'Show', reservation
        %td= link_to 'Edit', edit_reservation_path(reservation)
        %td= link_to 'Destroy', reservation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
